html,
body {
    margin: 0;
    padding: 0;
}

body {
    /* 横書き */
    writing-mode: horizontal-tb;
    padding: 3em;
    font-family: "YuMincho", "Yu Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ 明朝", "MS Mincho", serif;
    font-weight: 500;
    line-height: 1.5;
    /* メニュー外クリックのための最小高さ */
    min-height: 100vh;
    background-color: #f8f8f8;
    color: #333;
}

body.size1 {
    font-size: 0.5rem;
}

body.size2 {
    font-size: 0.7rem;
}

body.size3 {
    font-size: 1rem;
}

body.size4 {
    font-size: 1.4rem;
}

body.size5 {
    font-size: 2rem;
}

header {
    margin-bottom: 3rem;
}

footer {
    margin-top: 6em;
    margin-bottom: 3em;
}

main,
main>pre {
    margin: 0;
    padding: 0;
}

main>pre {
    overflow: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

main>pre.original-pre {
    display: none;
}

h2,
h3,
h4,
h5,
h6 {
    border: 1px #bfbfbf solid;
    margin: 1em 0 0 0;
    padding: 0.5em 0;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5;
}

p {
    margin: 0;
    /* フェードイン・アウトのアニメーション */
    transition: opacity 200ms ease, visibility 200ms ease;
}

h2.original-text,
p.original-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-right: 2em;
    padding: 1em;
    border-radius: 0.5em;
    min-width: auto;
    z-index: 1000;
    background-color: #406d65;
    color: #fff;
    box-shadow: 0.2em 0.4em 0.5em #000000b3;
}

.original-text.show {
    opacity: 1;
    visibility: visible;
}

h2.bookmark::before,
p.bookmark::before {
    content: "";
    display: block;
    width: 1.5em;
    height: 1.5em;
    background: url(./img/bookmark-blue.svg) no-repeat;
    background-size: contain;
    transform: rotate(90deg);
    margin-right: -1.5em;
    float: left;
    position: relative;
    left: -2em;
}

h2.bookmark,
p.bookmark {
    border: solid #008BDB;
    border-width: 0 0 0 0.2em;
    margin-left: -0.4em;
    padding: 0 0 0 0.2em;
}

h2.bookmark::after,
p.bookmark::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

footer a {
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
}

/* カスタムメニューのスタイル */
.custom-context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1em;
    box-shadow: 0.25em 0.5em #00000033;
    z-index: 1000;
    min-width: 150px;
    /* 初期状態では非表示 */
    display: none;
}

.custom-context-menu ul {
    display: flex;
    flex: column;
    list-style: none;
    padding: 0.5em;
    margin: 0;
}

.custom-context-menu li {
    padding: 0.5em;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border-radius: 0.75em;
}

.custom-context-menu li img {
    max-width: 100%;
    max-height: 100%;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    display: block;
    object-fit: contain;
}

.custom-context-menu li:hover {
    background-color: #f0f0f0;
}

/* モーダルのオーバーレイ */
.modal-overlay {
    /* 初期状態では非表示 */
    display: none;
    /* 画面全体を覆う */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

/* モーダルのコンテンツボックス */
.modal-content {
    background-color: white;
    padding: 1em 1em 0 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.1em 1em #000000;
    width: 50vw;
    min-width: 15em;
    max-width: 40em;
    position: relative;
    box-sizing: border-box;
    font-size: 1.1em;
}

/* モーダルの閉じるボタン */
.modal-content .close-button {
    position: absolute;
    border-radius: 1.25em;
    padding: 0.25em;
    top: 0.25em;
    right: 0.25em;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.close-button:hover {
    background-color: #d3d3d3;
}

.close-button:hover>svg {
    fill: #333;
}

.modal-content h2 {
    padding: 0.25em 0.2em 0.25em 0.75em;
}

.modal-content h2,
.modal-content .modal-list {
    border: 1px solid #eee;
}

/* モーダルリストのスタイル */
.modal-list {
    /* リストの点などを消す */
    list-style: none;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    /* リストの高さ制限 */
    max-height: 25vh;
    /* 高さ制限を超えたらスクロール */
    overflow-y: auto;
}

.modal-list li {
    padding: 0.25em 0.2em;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-list li {
    border: 0;
    border-bottom: 1px solid #eee;
}

.modal-list li.primary {
    background-color: #add8e6;
}

.modal-list li:last-child {
    border-bottom: none;
}

.modal-list li:hover {
    background-color: #f0f0f0;
}

/* 本文変更ウィンドウのスタイル */
#editSentenceModal>.modal-content {
    max-width: 90vw;
}

#editSentenceModal #editSentenceArea {
    margin: 1em 0;
    padding: 0.25em;
    background-color: #d2e0ec;
}

#editSentenceModal #editSentenceModalButtons {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#editSentenceModal #editSentenceModalButtons button {
    margin: 0 0 0 0.5em;
    padding: 0.25em 1em;
    border: 1px solid #ddd;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

#editSentenceModal #editSentenceModalButtons button:hover {
    background-color: #ddd;
}

#editSentenceModal #editSentenceModalButtons button:active {
    background-color: #d2e0ec;
}

/* 縦長の場合、縦長用のレイアウトでオーバーライドする */
@media screen and (orientation: portrait) {
    body {
        font-size: 4vw;
        padding: 1em;
    }

    body.size1 {
        font-size: 3vw;
    }

    body.size2 {
        font-size: 3.5vw;
    }

    body.size3 {
        font-size: 4vw;
    }

    body.size4 {
        font-size: 5vw;
    }

    body.size5 {
        font-size: 6.5vw;
    }

    h2.bookmark::before,
    p.bookmark::before {
        width: 0;
        height: 0;
        background: none;
        clear: both;
        position: relative;
    }

    h2.bookmark,
    p.bookmark {
        border: solid #008BDB;
        border-width: 0 0 0 0.5em;
        margin-left: -1em;
        padding: 0 0 0 0.5em;
    }
}

/* ダークモードの場合の色設定 */
@media (prefers-color-scheme: dark) {
    a {
        color: #8cf;
    }

    /* モーダルのコンテンツボックス */
    body,
    .modal-content,
    .modal-content .close-button {
        background-color: #1a1a1a;
        color: #f0f0f0;
    }

    .close-button:hover {
        background-color: #404c50;
    }

    .close-button:hover>svg {
        fill: #58747e;
    }

    .modal-content h2,
    .modal-content .modal-list {
        border: 1px solid #363636;
    }

    .modal-list li {
        border: 0;
        border-bottom: 1px solid #363636;
    }

    .modal-list li.primary {
        background-color: darkslategray;
    }

    .modal-list li:hover {
        background-color: #404c50;
    }

    #editSentenceModal #editSentenceArea {
        background-color: #42576b;
    }

    #editSentenceModal #editSentenceModalButtons button {
        border: 1px solid #363636;
    }

    #editSentenceModal #editSentenceModalButtons button:hover {
        background-color: #363636;
    }

    #editSentenceModal #editSentenceModalButtons button:active {
        background-color: #42576b;
    }

}